<template>
  <q-page>
    <div class="row justify-center items-center text-center" style="margin-top: 20px">
    	<span class="col-xl-6 col-sm-7 col-xs-10">
    		<q-input stack-label="Search" placeholder="Enter text to search" v-model="search" />
    	</span>
    	<span class="col-xl-3 col-sm-4 col-xs-10">
    		<q-btn label="search" @click="searchKeyword" outline />
    	</span>
    </div>
    <div class="row justify-center" style="margin-top: 25px">
    	<div class="col-md-8 col-xs-11">
    		Limit results
    	</div>
    	<div class="col-md-8 col-xs-11">
    		<div class="row justify-around items-center text-center" style="margin-top: 10px">
		    	<q-radio label="25" :val="25" v-model="limit" />
		    	<q-radio label="50" :val="50" v-model="limit" />
		    	<q-radio label="100" :val="100" v-model="limit" />
		    	<q-radio label="200" :val="200" v-model="limit" />
		    	<q-radio label="500" :val="500" v-model="limit" />
		    	<q-radio label="1000" :val="1000" v-model="limit" />
		    	<q-radio label="all" :val="'all'" v-model="limit" />
		    </div>
    	</div>
    </div>
    <div v-if="search.length < 3" class="row justify-center" style="margin-top: 50px;">
    	<span>
    		Enter atleast 3 character to search
    	</span>
    </div>
    <search-result v-if="tableData || fetching" :fetching="fetching" :tableData="tableData" class="row justify-center" />
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  components: {
  	'search-result': () => import('./../components/SearchResult.vue')
  },
  data () {
  	return {
  		fetching: false,
  		search: '',
  		tableData: [],
  		limit: 25
  	}
  },
  // watch: {
  // 	'search' () {
  // 		if (this.search.length < 3) {
  // 			return
  // 		} else {
  // 			this.searchKeyword()
  // 		}
  // 	}
  // },
  methods: {
  	searchKeyword () {
  		this.fetching = true
  		this.$http.get('/search/query=' + encodeURIComponent(this.search) + '&limit=' + this.limit)
  		.then((res) => {
  			this.tableData = res.body.result
  		})
  		.catch((err) => {
  			console.error(err)
  		})
  		.then(() => {
  			this.fetching = false
  		})
  	}
  }
}
</script>
