<template>
  <div>
  	<div class="col-xl-8 col-md-8 col-sm-9 col-xs-11">
  		<div class="row justify-center" style="margin-top: 25px">
	    	<div class="col-xs-12">
	    		Filters
	    	</div>
	    	<div class="col-xs-12">
	    		<div class="row justify-around items-center text-center" style="margin-top: 10px">
			    	<q-input placeholder="Filter by School Name" v-model="filters.schoolname" />
			    	<q-input placeholder="Filter by Medium" v-model="filters.medium_of_inst" />
			    	<q-input placeholder="Filter by PIN Code" v-model="filters.pincode" />
			    	<q-input placeholder="Filter by Block" v-model="filters.block" />
			    	<!-- <q-btn label="Filter" @click="filter" outline /> -->
			    </div>
	    	</div>
	    </div>
  	</div>
  	<q-table
              :loading="fetching"
              table-style="max-height: 300px"
              class="col-xl-8 col-md-8 col-sm-9 col-xs-11 bg-white shadow-1"
              grid
              selection="single"
              :selected.sync="selected"
              row-key="schoolid"
              :sort-method="sort"
              :config="config"
	  					:columns="columns"
	  					:data="filtered"
              no-data-label="Nothing found"
              grid
              style="margin-top: 25px; margin-bottom: 25px; border: solid 1px rgb(210,210,210)"
	  				>

	  					<template slot="top-selection" slot-scope="props">
	  						<q-btn label="show on map" icon="map" color="primary" outline />
	  					</template>

	  				</q-table>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ["fetching", "tableData"],
  created () {
  	if (this.tableData && this.tableData.length > 0) {
  		this.filter()
  	}
  },
  data () {
    return {
    	selected: [],
    	config: {
    		clientWidth: 'responsive',
    		bodyStyle: {
    			maxHeight: '450px'
    		}
	    },
	    filtered: [], // contains list of performance of students attempted this test
	    filters: {
  			schoolname: '',
  			medium_of_inst: '',
  			pincode: '',
  			block: ''
  		},
        columns: [
			        {
		    			label: 'School Name',
		    			field: 'schoolname',
		    			width: '150px',
		    			sortable: true,
		    			filter: true
		    		},
		    		{
		    			label: 'School ID',
		    			field: 'schoolid',
		    			width: '150px',
		    			sort: true,
		    			filter: true
		    		},
		    		{
		    			label: 'Cluster',
		    			field: 'cluster',
		    			width: '150px',
		    			sort: true,
		    			filter: true
		    		},
		    		{
		    			label: 'Block',
		    			field: 'block',
		    			width: '150px',
		    			sort: true,
		    			filter: true
		    		},
		    		{
		    			label: 'Address',
		    			field: 'address',
		    			width: '150px'
		    		},
		    		{
			          label: 'District',
			          field: 'district',
			          width: '100px',
			          sortable: true,
			          filter: true
			        },
		    		{
		    			label: 'Category',
		    			field: 'category',
		    			width: '150px',
		    			sortable: true,
		    			filter: true
		    		},
		    		{
		    			label: 'Gender',
		    			field: 'gender',
		    			width: '150px'
		    		},
		    		{
		    			label: 'Medium',
		    			field: 'medium_of_inst',
		    			sortable: true,
		    			width: '150px'
		    		},
		    		{
		    			label: 'Area',
		    			field: 'area',
		    			width: '150px'
		    		},
		    		{
		    			label: 'PIN Code',
		    			field: 'pincode',
		    			width: '150px',
		    			sortable: true
		    		}
		    	]
    }
  },
  watch: {
  	'tableData' () {
  		this.filter()
  	},
  	'filters.schoolname' () {
  		this.filter()
  	},
  	'filters.medium_of_inst' () {
  		this.filter()
  	},
  	'filters.pincode' () {
  		this.filter()
  	},
  	'filters.block' () {
  		this.filter()
  	}
  },
  methods: {
  	toMaps () {
  		const latlong = this.selected[0].latlong.replace("POINT(", "").replace(")", "").split(" ")
  		window.open("https://www.google.com/maps/@" + latlong[0] + "," + latlong[1], "_blank")
  	},
  	filter () {
  		if (!this.tableData || this.tableData.length === 0) {
  			this.filtered = []
  		} else {
  			console.log("filter")
  			const arr = this.tableData.filter((row) => {
	  			if (this.filters.schoolname.length === 0 && this.filters.medium_of_inst.length === 0 && this.filters.block.length === 0 && this.filters.pincode.length === 0) {
	  				return row
	  			} else {
	  				if (row.schoolname.toLowerCase().indexOf(this.filters.schoolname.toLowerCase()) > -1 && row.medium_of_inst.toLowerCase().indexOf(this.filters.medium_of_inst.toLowerCase()) > -1 && row.block.toLowerCase().indexOf(this.filters.block.toLowerCase()) > -1 && row.pincode.toString().indexOf(this.filters.pincode.toString()) > -1) {
		  				return row
		  			}
	  			}
	  		})

	  		console.log(arr.length)

	  		this.filtered = arr
  		}
  	},
  	sort () {
  		console.log("sort")
  	}
  }
}
</script>

<style>
</style>
