<template>
  <q-layout class="bg-grey-3" view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :inverted="$q.theme === 'ios'"
      >
        <q-toolbar-title>
          Signzy Search
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      search: ''
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>

  * {
    font-size: 12px;
  }
</style>
